{
    "extends": ["airbnb", "airbnb-typescript"],
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "rules": {
        "@typescript-eslint/indent": ["error", 4],
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],
        "react/require-default-props": [0],
        "max-len": ["error", {"code": 120}],
        "no-param-reassign": ["error", {"props": false}]
    }
}
