{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/okroad.css" />
<link rel="stylesheet" href="/css/bootstrap.min.css" />
{% endblock %}

{% block javascripts %}
<script src="/js/shared.bundle.js" defer></script>
<script src="/js/index.bundle.js" defer></script>
{% endblock %}

{% block body %}
<div id="app" data-params="{{ configuration | json_encode() }}"></div>
{% endblock %}
